.wp-post {
  width: 75%;
  margin: 0 auto;

  &__title {
    padding-bottom: 2rem;
  }

  &__content {
    h1 {
      padding-bottom: 1rem;
    }

    h2 {
      padding-bottom: 1rem;
    }
    p {
      padding-bottom: 1rem;
    }

    img {
    }
  }
}
