.wp-post {
  &__title {
    max-width: 65ch;
    margin: 0 auto;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr min(65ch, 100%) 1fr;

    & > * {
      grid-column: 2;
    }

    & > .wp-block-image,
    .wp-block-columns,
    .wp-block-group {
      width: 100%;
      grid-column: 1 / 4;
    }

    //Mobile
    @media screen and (max-width: 480px) {
      & > .wp-block-file {
        display: flex;
        flex-direction: column;

        & > * {
          padding: 2px 0;
        }
      }

      .wp-block-columns {
        padding: 0 1rem !important;
      }
    }

    ul,
    ol {
      padding-left: 1.25rem;

      li {
        font-weight: var(--fontWeight-semibold);
      }
    }
  }
}
