.about {
  &__paragraph > * {
    margin: 0 auto;
    max-width: 65ch;
    padding-left: 2rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 148.8%;
    margin-bottom: 1.5rem;
  }
}

.research-methods {
  margin-top: 6rem;


  .about-list {
    ul {
      border-left: solid black 1px;
      background-color: #558900;
      background-image: linear-gradient(#558900, #c70ff5);
      background-size: 100%;
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }

    li {
      padding: 0.25rem 0;
      margin-left: 2rem;
      list-style: none;
      background-clip: text;
      -webkit-background-clip: text;
    }
  }
}
