.about {
  &__paragraph > * {
    margin: 0 auto;
    max-width: 65ch;
    padding-left: 2rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 148.8%;
    margin-bottom: 1.5rem;
  }
}

.research-methods {
  margin-top: 6rem;
  &__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: var(--color-text-light);
    padding-bottom: 1rem;
  }

  .about-list {
    ul {
      border-left: solid black 2px;
      background: -webkit-linear-gradient(#558900, #c70ff5);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    li {
      padding: 0.25rem 0;
      margin-left: 2rem;
      list-style: none;
    }
  }
}
