.project-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project {
  width: 400px;
  padding: 1rem 0;

  &__title {
    margin-top: 1rem;
  }

  //Tablet
  @media screen and (max-width: 780px) {
    & {
      width: 100%;
    }
  }
}
