@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  background: linear-gradient(180deg, #fafafa 0%, #ffffff 100%);
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}
